
<style>
    .info-bar-background {

	    background-image: url(<r:files:each labels="info-bg" limit="1" types="image" random="true"><r:file:image_url size="1720x580" /></r:files:each>);
      background-color: #0033A0;
      background-repeat: no-repeat;
      background-size: cover;
    } /* /.front-page-hero, .back-page-header */

</style>


<main class="wvu-section u-full-width info-bar-background">

    <div class="wvu-container">
            <div class="info-bar">
              <p><r:editable_region name="info-bar__text" class="info-bar-text" /></p>
            </div>

    </div>
  </main>
