<div class="small-action">
  <div class="small-action__container">
    <p class="small-action__text">Interested in getting involved?</p>
    <a href="<r:page:content name="contact-email" />" class="small-action__button button button--wvu-gold">Inquire Here</a>
    <a href="<r:page:content name="wvu-hero__button-url" />" class="small-action__button button button--wvu-gold"><r:page:content name="wvu-hero__button-display-text" /></a>
    <div>
    
  </div>
  </div> <!-- /.wvu-container -->
</div>
