.front-page-hero{
	background-color: #002855;
    background-position: 75% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    -webkit-font-smoothing: antialiased;
	h1{
		font-size: 4rem;
		color: white;
		text-shadow: $text-shadow-dark;
        line-height: 2.2rem;
        font-style: italic;
		@include mq($bp-medium){
			font-size: 5em;
		}/*mq*/
		@include mq($bp-xlarge){
			font-size: 5rem;
		}/*mq*/
	}/*h1*/
    h2{
        font-size: 1.25rem;
        color: white;
        text-shadow: $text-shadow-dark;
        @include mq($bp-medium){
            font-size: 3em;
        }/*mq*/
        @include mq($bp-xlarge){
            font-size: 3rem;
        }/*mq*/
    }/*h2*/
    p.wvu-lede{
        font-size: 1rem;
        color: white;
        text-shadow: $text-shadow-dark;
        line-height: 1.8rem;
        @include mq($bp-medium){
          font-size: 2rem;
          max-width: 38em;
          line-height: 2.3rem;

        }/*mq*/
        @include mq($bp-xlarge){
            font-size: 2rem;
        }/*mq*/
    }/*h1*/
}
.front-page-hero__container {
	max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 3em 0 1em 0;
    padding-left: 1em;
    padding-right: 1em;
    @include mq($bp-medium){
    	padding: 6em 0 3em 0;
    	padding-left: 1em;
    	padding-right: 1em;
    }
    @include mq($bp-large){
    	padding-left: 1em;
    	padding-right: 1em;
    }
    @include mq($bp-xlarge){
    	padding-left: 1em;
    	padding-right: 1em;
    }
}
.front-page-hero__text { margin-bottom: 3em; font-weight: bold;
  @include mq($bp-medium) { max-width: 40%; }
}