




.info-bar-text{
  text-align:center;
  font-size: 3em;
  margin: 0px;
  color: #ffffff;
}
blockquote {

font-size: 2rem;
margin: 0.25em 0;
padding: 0.25em 40px 0.25em 110px;
line-height: 1.45;
position: relative;
color: #ffffff;
border-left: 0px;
background-image: url(../images/openquote-01.png);
background-repeat: no-repeat;
@include mq($bp-medium) {
  font-size: 1rem;
  max-width: 38em;
  line-height: 2.3rem;

}/*mq*/
}



blockquote cite {
color: #fff;
font-size: 1rem;
display: block;
margin-top: 5px;
text-align: right;
}

blockquote cite:before {
content: "\2014 \2009";
}
