




.info-bar-text{
  text-align:center;
  font-size: 3em;
  margin: 0px;
  color: #ffffff;
}
blockquote {

font-size: 2rem;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #ffffff;
/*Borders - (Optional)*/
  border-left: 15px solid #ffffff;
  border-right: 2px solid #ffffff;
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: 0px;
top: -20px;
color: #ffffff;
}

blockquote cite {
color: #fff;
font-size: 1rem;
display: block;
margin-top: 5px;
text-align: right;
}

blockquote cite:before {
content: "\2014 \2009";
}
